# Folders
.vscode
node_modules
assets
dist
docs
test
.test

# Configuration Files
.eslintrc.json
.eslintignore
.jsdoc.conf.json
.prettierrc.json
.prettierignore
jest.config.js
package-lock.json
bun.lockb
tsconfig.json

# Documentation
CODE_OF_CONDUCT.md
changes.md
LICENCSE-DiscordJS